<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>W3C Privacy Activity</title>
  <!--[if IE]>
  <script src="https://www.w3.org/2008/site/js/html5shiv.js"></script>
  <![endif]-->
  <link rel="Help" href="https://www.w3.org/Help/" />
  <link rel="stylesheet" href="https://www.w3.org/2008/site/css/minimum" type="text/css" media="handheld, all" />
  <style type="text/css" media="print, screen and (min-width: 481px)">@import url("https://www.w3.org/2008/site/css/advanced");</style>
  <style type="text/css" media="screen">
    ul.less-padding {
      padding-top: 10px;
    }
  </style>
  <link href="https://www.w3.org/2008/site/css/minimum" rel="stylesheet" type="text/css" media="handheld, only screen and (max-device-width: 480px)" />
  <meta name="viewport" content="width=320" />
  <link rel="stylesheet" href="https://www.w3.org/2008/site/css/print" type="text/css" media="print" />
  <!-- Custom Stylesheet -->
  <link rel="shortcut icon" href="https://www.w3.org/2008/site/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://www.w3.org/Privacy/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body id="www-w3-org" class="w3c_public">
	<div id="w3c_container">

	  <header id="w3c_mast">
<!-- #w3c_mast / Page top header -->
		<h1 class="logo">
		  <a tabindex="2" accesskey="1" href="https://www.w3.org/">
			<img src="https://www.w3.org/2008/site/images/logo-w3c-mobile-lg" width="90" height="53" alt="W3C" />
		  </a>
		  <span class="alt-logo">W3C</span>
		</h1>
		<div id="w3c_nav">
		  <form action="https://www.w3.org/Help/search" method="get" enctype="application/x-www-form-urlencoded">
<!-- w3c_sec_nav is populated through js -->
			<div class="w3c_sec_nav">
<!-- -->
			</div>
			<ul class="main_nav">
<!-- Main navigation menu -->
			  <li class="first-item">
				<a href="https://www.w3.org/standards/">Standards</a>
			  </li>
			  <li>
				<a href="https://www.w3.org/participate/">Participate</a>
			  </li>
			  <li>
				<a href="https://www.w3.org/Consortium/membership">Membership</a>
			  </li>
			  <li class="last-item">
				<a href="https://www.w3.org/Consortium/">About W3C</a>
			  </li>
			  <li class="search-item">
				<div id="search-form">
				  <input tabindex="3" class="text" name="q" value="" title="Search" />
				  <button id="search-submit" name="search-submit" type="submit">
					<img class="submit" src="https://www.w3.org/2008/site/images/search-button" alt="Search" width="21" height="17" />
				  </button>
				</div>
			  </li>
			</ul>
		  </form>
		</div>
	  </header>

<!-- /end #w3c_mast -->
	  <div id="w3c_main">
		<div id="w3c_logo_shadow" class="w3c_leftCol">
		  <img height="32" alt="" src="https://www.w3.org/2008/site/images/logo-shadow" />
		</div>
		<nav id="w3c_sidenavigation" class="w3c_leftCol">
		  <h2 class="offscreen">Site Navigation</h2>
		  <h3 class="category">
			<span class="ribbon"><b>Privacy Interest Group (PING)</b></span>
		  </h3>
		  <ul class="theme">
			<li><a href="https://www.w3.org/2011/07/privacy-ig-charter.html">Charter</a></li>
			<li><a href="https://www.w3.org/2004/01/pp-impl/52497/join">Join the group</a></li>
			<li><a href="https://www.w3.org/2000/09/dbwg/details?group=52497&public=1">Participants</a></li>
			<li><a href="http://lists.w3.org/Archives/Public/public-privacy/">public-privacy mailing list</a></li>
			<li><a href="https://www.w3.org/wiki/Privacy">Wiki</a></li>
<!--			<li><a href="track/">Issue &amp; Action Tracker</a></li>
-->		  </ul>

		  <h3 class="category">
			<span class="ribbon"><b>Documents</b></span>
		  </h3>
		  <ul class="theme">
		    <li><a href="https://www.w3.org/TR/fingerprinting-guidance/">Fingerprinting Guidance</a></li>
		    <li><a href="https://w3c.github.io/privacy-considerations/">Privacy Considerations</a></li>
		    <li><a href="http://yrlesru.github.io/SPA/">Specification Privacy Assessment</a></li>
		  </ul>
		
		  <h3 class="category">
			<span class="ribbon"><b>Past work</b></span>
		  </h3>
		  <ul class="theme">
			<li><a href="https://www.w3.org/P3P/Overview.html">Platform for Privacy Preferences (P3P) Project</a></li>
			<li><a href="https://www.w3.org/Policy/pling/wiki/Main_Page">Policy Languages Interest Group</a></li>
			<li><a href="http://www.primelife.eu/">Privacy and Identity Management for Europe</a></li>
		  </ul>

		  
		  <br />
		</nav>
		<div class="w3c_mainCol">
		  <section id="w3c_content_body">
            {{ content }}
			  
		    
		  </section>
<!-- /end #w3c_content_body -->
		</div>
<!-- /end #w3c_mainCol -->
	  </div>
<!-- end #w3c_main -->
	</div>


<!-- /end #w3c_container -->


	<footer id="w3c_footer">
	  <div id="w3c_footer-inner">
	
		<h2 class="offscreen">Footer Navigation</h2>
		<div class="w3c_footer-nav">
		  <h3>Navigation</h3>
		  <ul class="footer_top_nav">
			<li>
			  <a href="https://www.w3.org/">Home</a>
			</li>
			<li>
			  <a href="https://www.w3.org/standards/">Standards</a>
			</li>
			<li>
			  <a href="https://www.w3.org/participate/">Participate</a>
			</li>
			<li>
			  <a href="https://www.w3.org/Consortium/membership">Membership</a>
			</li>
			<li class="last-item">
			  <a href="https://www.w3.org/Consortium/">About W3C</a>
			</li>
		  </ul>
		</div>
		<div class="w3c_footer-nav">
		  <h3>Contact W3C</h3>
		  <ul class="footer_bottom_nav">
			<li>
			  <a href="https://www.w3.org/Consortium/contact">Contact</a>
			</li>
			<li>
			  <a accesskey="0" href="https://www.w3.org/Help/">Help and FAQ</a>
			</li>
			<li>
			  <a href="https://www.w3.org/Consortium/sup">Donate</a>
			</li>
			<li>
			  <a href="https://www.w3.org/Consortium/siteindex">Site Map</a>
			</li>
			<li>
			  <address id="w3c_signature"><a href="mailto:site-comments@w3.org">Feedback</a> (<a href="http://lists.w3.org/Archives/Public/site-comments/">archive</a>)</address>
			</li>
		  </ul>
		</div>
		<div class="w3c_footer-nav">
		  <h3>W3C Updates</h3>
		  <ul class="footer_follow_nav">
			<li>
			  <a href="http://twitter.com/W3C" title="Follow W3C on Twitter">
				<img src="https://www.w3.org/2008/site/images/twitter-bird" alt="Twitter" class="social-icon" width="39" height="42" />
			  </a>
			  <a href="http://identi.ca/w3c" title="See W3C on Identica">
				<img src="https://www.w3.org/2008/site/images/identica-logo" alt="Identica" class="social-icon" width="46" height="42" />
			  </a>
			</li>
		  </ul>
		</div>
<!-- #footer address / page signature -->
		<p class="copyright">Copyright &#xA9; 2017 W3C <sup>&#xAE;</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics"> ERCIM</abbr></a>, <a href="http://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>)) <a href="https://www.w3.org/Consortium/Legal/2002/ipr-notice-20021231">Usage policies apply</a>.</p>
	  </div>
	</footer>


<!-- /end #footer -->
	<div id="w3c_scripts">
	  <script type="text/javascript" src="https://www.w3.org/2008/site/js/main"> </script>
	</div>
  </body>
</html>
