<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>W3C Privacy Activity</title>
  <!--[if IE]>
  <script src="https://www.w3.org/2008/site/js/html5shiv.js"></script>
  <![endif]-
  <link rel="Help" href="https://www.w3.org/Help/" />
  <link rel="stylesheet" href="https://www.w3.org/2008/site/css/minimum" type="text/css" media="handheld, all" />
  <style type="text/css" media="print, screen and (min-width: 481px)">@import url("https://www.w3.org/2008/site/css/advanced");</style>
  <style type="text/css" media="screen">
    ul.less-padding {
      padding-top: 10px;
    }
  </style>
  <link href="https://www.w3.org/2008/site/css/minimum" rel="stylesheet" type="text/css" media="handheld, only screen and (max-device-width: 480px)" />
  <meta name="viewport" content="width=320" />
  <link rel="stylesheet" href="https://www.w3.org/2008/site/css/print" type="text/css" media="print" />
  <!-- Custom Stylesheet -->
  <link rel="shortcut icon" href="https://www.w3.org/2008/site/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://www.w3.org/Privacy/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body id="www-w3-org" class="w3c_public">
	<div id="w3c_container">

	  <header id="w3c_mast">
<!-- #w3c_mast / Page top header -->
		<h1 class="logo">
		  <a tabindex="2" accesskey="1" href="https://www.w3.org/">
			<img src="https://www.w3.org/2008/site/images/logo-w3c-mobile-lg" width="90" height="53" alt="W3C" />
		  </a>
		  <span class="alt-logo">W3C</span>
		</h1>
		<div id="w3c_nav">
		  <form action="https://www.w3.org/Help/search" method="get" enctype="application/x-www-form-urlencoded">
<!-- w3c_sec_nav is populated through js -->
			<div class="w3c_sec_nav">
<!-- -->
			</div>
			<ul class="main_nav">
<!-- Main navigation menu -->
			  <li class="first-item">
				<a href="https://www.w3.org/standards/">Standards</a>
			  </li>
			  <li>
				<a href="https://www.w3.org/participate/">Participate</a>
			  </li>
			  <li>
				<a href="https://www.w3.org/Consortium/membership">Membership</a>
			  </li>
			  <li class="last-item">
				<a href="https://www.w3.org/Consortium/">About W3C</a>
			  </li>
			  <li class="search-item">
				<div id="search-form">
				  <input tabindex="3" class="text" name="q" value="" title="Search" />
				  <button id="search-submit" name="search-submit" type="submit">
					<img class="submit" src="https://www.w3.org/2008/site/images/search-button" alt="Search" width="21" height="17" />
				  </button>
				</div>
			  </li>
			</ul>
		  </form>
		</div>
	  </header>

<!-- /end #w3c_mast -->
	  <div id="w3c_main">
		<div id="w3c_logo_shadow" class="w3c_leftCol">
		  <img height="32" alt="" src="https://www.w3.org/2008/site/images/logo-shadow" />
		</div>
		<nav id="w3c_sidenavigation" class="w3c_leftCol">
		  <h2 class="offscreen">Site Navigation</h2>
		  <h3 class="category">
			<span class="ribbon"><b>Privacy Interest Group (PING)</b></span>
		  </h3>
		  <ul class="theme">
			<li><a href="https://www.w3.org/2011/07/privacy-ig-charter.html">Charter</a></li>
			<li><a href="https://www.w3.org/2004/01/pp-impl/52497/join">Join the group</a></li>
			<li><a href="https://www.w3.org/2000/09/dbwg/details?group=52497&public=1">Participants</a></li>
			<li><a href="http://lists.w3.org/Archives/Public/public-privacy/">public-privacy mailing list</a></li>
			<li><a href="https://www.w3.org/wiki/Privacy">Wiki</a></li>
<!--			<li><a href="track/">Issue &amp; Action Tracker</a></li>
-->		  </ul>

		  <h3 class="category">
			<span class="ribbon"><b>Documents</b></span>
		  </h3>
		  <ul class="theme">
		    <li><a href="https://www.w3.org/TR/fingerprinting-guidance/">Fingerprinting Guidance</a></li>
		    <li><a href="https://w3c.github.io/privacy-considerations/">Privacy Considerations</a></li>
		    <li><a href="http://yrlesru.github.io/SPA/">Specification Privacy Assessment</a></li>
		  </ul>
		
		  <h3 class="category">
			<span class="ribbon"><b>Past work</b></span>
		  </h3>
		  <ul class="theme">
			<li><a href="https://www.w3.org/P3P/Overview.html">Platform for Privacy Preferences (P3P) Project</a></li>
			<li><a href="https://www.w3.org/Policy/pling/wiki/Main_Page">Policy Languages Interest Group</a></li>
			<li><a href="http://www.primelife.eu/">Privacy and Identity Management for Europe</a></li>
		  </ul>

		  
		  <br />
		</nav>
		<div class="w3c_mainCol">
		  <section id="w3c_content_body">
			  <h1 class="title">Privacy Activity</h1>
			<article class="line">
			  <p>The evolution of Web technologies has increased collection, processing and publication of personal data. Privacy concerns are raised more often as applications built on the Web platform have access to more sensitive data &mdash; including location, health and social network information &mdash; and users' activity on the Web is ubiquitously tracked. The W3C Privacy Activity coordinates standardization work to improve support for user privacy on the Web and develops general expertise in privacy-by-design for Web standards.</p>
			</article>
			<article class="line unit size1on2">
				<h2><a href="IG/">Privacy Interest Group</a></h2>
				<p>The group monitors ongoing privacy issues that affect the Web, investigates potential areas for new privacy work, and provides guidelines and advice for addressing privacy in standards development.</p>
				<p><a href="mailto:runnegar@isoc.org">Christine Runnegar</a> (Internet Society) and <a href="mailto:tjwhalen@gmail.com">Tara Whalen</a> (Google) are co-chairing the group. <a href="mailto:weiler@w3.org">Sam Weiler</a> (W3C) is the Team Contact.</p>
				<p>Want to learn more? Please <a href="https://www.w3.org/2004/01/pp-impl/52497/join">join the group</a> and the <a href="http://lists.w3.org/Archives/Public/public-privacy/">mailing list</a>. (Non-Members may join the group as <a href="https://www.w3.org/2004/08/invexp">public Invited Experts</a>.)</p>
				<p><a href="IG/">PING homepage</a></p>
				<h2>Staff</h2>
				<p>Please contact the W3C staff with questions or suggestions for these groups or W3C privacy work.</p>
				<ul class="show_items">
					<li><a href="mailto:wseltzer@w3.org">Wendy Seltzer</a>; Strategy Lead</li>
					<li><a href="mailto:weiler@w3.org">Samuel Weiler</a>; Security and Privacy Strategist</li>
				</ul>	
			</article>
			

			<article class="line unit size1on2 lastUnit">
        <h2>Tracking Protection Working Group</h2>
        <ul class="show_items">
          <li><a href="https://www.w3.org/2011/tracking-protection/">TPWG homepage</a></li>
          <li><a href="https://www.w3.org/TR/tracking-dnt/">Tracking Preference Expression (DNT)</a></li>
          <li><a href="https://www.w3.org/TR/tracking-compliance/">Tracking Compliance and Scope</a></li>
        </ul>
        
			  <h2>Past events</h2>
  			<h3>W3C Workshop on Privacy and User-Centric Controls</h3>
        <p>20-21 November 2014, Berlin; <a href="https://www.w3.org/2014/privacyws/">Workshop homepage</a></p>
        
        <h3>Next steps on trust and permissions for Web applications</h3>
        <p>3-4 September 2014, Paris; <a href="https://www.w3.org/2014/07/permissions/">Workshop homepage</a></p>

			  <h3>Workshop on Strengthening the Internet</h3>
			  <p>28 February - 1 March 2014, London; <a href="https://www.w3.org/2014/strint/">Workshop homepage</a></p>
			  <h3>Workshop: Do Not Track and Beyond</h3>
  			  <p>26-27 November 2012, Berkeley; <a href="https://www.w3.org/2012/dnt-ws/report">Workshop report</a>
  			  
			  <h3>Tracking Protection Working Group Face-to-Face Meetings</h3>
        <ul class="show_items">
           
	  <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f8">6 - 8 May 2013, Sunnyvale</a>
            </li>
            
	  <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f7">11 - 13 February 2013, MIT</a>
            </li>
            <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f6">3 - 5 October 2012, Amsterdam</a>
            </li>
            <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f5">20 - 22 June 2012, Bellevue</a>
            </li>
            <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f4">10 - 12 April 2012, DC</a>
            </li>
            <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f3">24 - 26 January 2012, Brussels</a>
            </li>
            <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f2">31 October - 1 November 2011, TPAC</a>
            </li>
            <li>
                <a href="https://www.w3.org/2011/tracking-protection/#f2f1">21-22 September 2011, MIT</a>
            </li>
        </ul>
			  <h3>Workshop on Web Tracking and User Privacy</h3>
			  <p>28-29 April 2011, Princeton; <a href="https://www.w3.org/2011/track-privacy/report">Workshop report</a></p>
			  <h3>Federated Social Web Summit Europe</h3>
			  <p>On Social Web interoperability, standards and privacy<br />
			  3-5 June 2011, Berlin: <a href="http://d-cent.org/fsw2011/">Workshop site</a></p>
			  <h3>Internet Privacy Workshop (IAB/W3C/ISOC)</h3>
			  <p>8-9 December 2010, MIT; <a href="http://www.iab.org/about/workshops/privacy/">Workshop homepage</a></p>
			<h3>W3C Workshop on Privacy and Data Usage Control</h3>
			<p>4-5 October 2010, MIT; <a href="https://www.w3.org/2010/policy-ws/">Workshop homepage</a></p>
			<h3>W3C Workshop on Privacy for Advanced Web APIs</h3>
			<p>
			12-13 July 2010, London; <a href="https://www.w3.org/2010/api-privacy-ws/">Workshop homepage</a>
			</p>
			<h3>W3C Workshop on Access Control Application Scenarios</h3>
			<p>17-18 November 2009, Luxembourg; <a href="https://www.w3.org/2009/policy-ws/">Workshop homepage</a>
			</p>
			</article>
			

<!-- /end .line -->
		  </section>
<!-- /end #w3c_content_body -->
		</div>
<!-- /end #w3c_mainCol -->
	  </div>
<!-- end #w3c_main -->
	</div>


<!-- /end #w3c_container -->


	<footer id="w3c_footer">
	  <div id="w3c_footer-inner">
		<address>
		  This page is a work in progress. For further information or to suggest corrections or additions, please contact Keiji Takeda &lt;<a href="mailto:tkeiji@w3.org">tkeiji@w3.org</a>&gt;
		</address>
		<h2 class="offscreen">Footer Navigation</h2>
		<div class="w3c_footer-nav">
		  <h3>Navigation</h3>
		  <ul class="footer_top_nav">
			<li>
			  <a href="https://www.w3.org/">Home</a>
			</li>
			<li>
			  <a href="https://www.w3.org/standards/">Standards</a>
			</li>
			<li>
			  <a href="https://www.w3.org/participate/">Participate</a>
			</li>
			<li>
			  <a href="https://www.w3.org/Consortium/membership">Membership</a>
			</li>
			<li class="last-item">
			  <a href="https://www.w3.org/Consortium/">About W3C</a>
			</li>
		  </ul>
		</div>
		<div class="w3c_footer-nav">
		  <h3>Contact W3C</h3>
		  <ul class="footer_bottom_nav">
			<li>
			  <a href="https://www.w3.org/Consortium/contact">Contact</a>
			</li>
			<li>
			  <a accesskey="0" href="https://www.w3.org/Help/">Help and FAQ</a>
			</li>
			<li>
			  <a href="https://www.w3.org/Consortium/sup">Donate</a>
			</li>
			<li>
			  <a href="https://www.w3.org/Consortium/siteindex">Site Map</a>
			</li>
			<li>
			  <address id="w3c_signature"><a href="mailto:site-comments@w3.org">Feedback</a> (<a href="http://lists.w3.org/Archives/Public/site-comments/">archive</a>)</address>
			</li>
		  </ul>
		</div>
		<div class="w3c_footer-nav">
		  <h3>W3C Updates</h3>
		  <ul class="footer_follow_nav">
			<li>
			  <a href="http://twitter.com/W3C" title="Follow W3C on Twitter">
				<img src="https://www.w3.org/2008/site/images/twitter-bird" alt="Twitter" class="social-icon" width="39" height="42" />
			  </a>
			  <a href="http://identi.ca/w3c" title="See W3C on Identica">
				<img src="https://www.w3.org/2008/site/images/identica-logo" alt="Identica" class="social-icon" width="46" height="42" />
			  </a>
			</li>
		  </ul>
		</div>
<!-- #footer address / page signature -->
		<p class="copyright">Copyright &#xA9; 2017 W3C <sup>&#xAE;</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics"> ERCIM</abbr></a>, <a href="http://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>)) <a href="https://www.w3.org/Consortium/Legal/2002/ipr-notice-20021231">Usage policies apply</a>.</p>
	  </div>
	</footer>


<!-- /end #footer -->
	<div id="w3c_scripts">
	  <script type="text/javascript" src="https://www.w3.org/2008/site/js/main"> </script>
	</div>
  </body>
</html>
